* {
  box-sizing: border-box;
}

body {
  background-color: #e6c9b3;
}

.Main-Frame {
  background-color: white;
  margin: auto;
  position: relative;
  width: 40%;
  height: 80vh;
  padding: 10px;
  border: 1px solid;
  box-shadow: 5px 10px #888888;
  overflow: hidden;
}

.Main-Frame form {
  position: relative;
}

.Form-Title {
  text-align: center;
}

.Form-Feild {
  position: relative;
  margin: 8px 40px;
  padding: 10px;
  width: 80%;
}

.Form-Btn {
  position: relative;
  background-color: #04aa6d;
  border: none;
  color: white;
  text-decoration: none;
  padding: 20px 40px;
  width: 80%;
  margin: 10px 40px;
}
